*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header
{
    background-color: lightblue;
    display:flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 34px;
}
nav
{
    background-color: lightgray;
}
nav ul
{
    display: flex;
    justify-content: center;
    list-style: none;
}
nav ul li
{
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
section
{
    background-color: lightblue;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.card{
    height: 200px;
    width: 150px;
    border: 3px solid;
}
.card img{
    object-fit: contain;
}
footer
{
    background-color:lightseagreen;
}