.header{
    background-color: black;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.nav a{
    margin-top: 20px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.btn{
    margin-top: 20px;
    background-color: white;
    color: black;
    padding: 0px 20px 0px 10px;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
}
.section-1{
    text-align: left;
    font-size: 132px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Krub";
    height: 500px;
}
.section-1 h6{
    font-size: 43px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Krub";
    transform: rotate(90deg)
}