.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0303aacf;
  color: white;
}
.nav-1 h1{
  color: white;
}
.nav-2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.nav-2 img{
  width: 30px;
  height: 30px;
  border-radius: 40px;
}
.nav-2 svg{
  width: 30px;
  height: 30px;
  fill: white;
}
.btn{
  background-color: white;
  color: blue;
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.nav-3{
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: #0303aacf;
}
.btn-1{
  background-color: #0303aacf;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 15px 10px 10px;
}

.btn-2{
  background-color: #0303aa;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 15px 10px 10px;
}

.btn-3{
  background-color: #0303aa;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 15px 10px 10px;
}
.btn-4{
  background-color: #0303aa;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 15px 10px 10px;
}
.btn-5{
  background-color: #0303aa;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 15px 10px 10px;
}

.btn-6{
  background-color: #0303aa;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 15px 10px 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
