.nav-bar{
    background-color: rgba(19, 111, 254, 1);
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
  
.stay svg{
    width: 20px;
    fill: white;
}
  
.stay{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(19, 111, 254, 1);
    border: none;
    color: white;
    border-radius: 10px;
}
  
.flights svg{
    width: 20px;
    fill: white;
}
  
.flights{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(19, 111, 254, 1);
    border: none;
    color: white;
    border-radius: 10px;
}
  
.flight_hotel svg{
    width: 20px;
    fill: white;
}
  
.flight_hotel{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(19, 111, 254, 1);
    border: none;
    color: white;
    border-radius: 10px;
}
  
.car_rentals svg{
    width: 20px;
    fill: white;
}
  
.car_rentals{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(19, 111, 254, 1);
    border: none;
    color: white;
    border-radius: 10px;
}
  
.attractions svg{
    width: 20px;
    fill: white;
}
  
.attractions{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(19, 111, 254, 1);
    border: none;
    color: white;
    border-radius: 10px;
}
  
.airport_taxis svg{
    width: 20px;
    fill: white;
}
  
.airport_taxis{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: rgba(19, 111, 254, 1);
    border: none;
    color: white;
    border-radius: 10px;
}  